{% extends "layout.html" %}

{% block content %}
<h1>Contactame</h1>
<p>Puesdes contactarme por las diferentes redes sociales</p>
<a href="https://github.com/murillojuan" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><img src="/static/images/github-svgrepo-com (1).svg" height ="50" width="50"/></a>
<a href="https://www.linkedin.com/in/juan-david-murillo-mejia-2a70b6251" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><img src="/static/images/linkedin-svgrepo-com.svg" height ="50" width="50"/></a>
<a href="https://twitter.com/juandavidmm0718" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><img src="/static/images/twitter-svgrepo-com.svg" height ="50" width="50"/></a>
<a href="https://www.instagram.com/jdmm0718/" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><img src="/static/images/instagram-svgrepo-com.svg" height ="50" width="50"/></a>
<a href="mailto:juandavidmm0718@gmail.com" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><img src="/static/images/google-plus-svgrepo-com.svg" height ="50" width="50"/></a>
{% endblock %}